<div class="form small">
  <h1>Stock Card - Editor</h1>
  <%= form_for @stock_card, do |f| %>
    <label>SKU</label> <%= f.text_field :sku, :class => 'sku' %> <br>
    <label>Name</label> <%= f.text_field :name %> <br>
    <%= f.text_field :photo, :class => 'zango_photo_path' %> <br>
    <label>Photo</label> <%= image_tag @stock_card.photo, :class => 'photo' %> <br>
    <% unless @stock_card.local_image_exists? %>
      <label style='color: red;'>Non-local Image</label> <br>
    <% end %>
    <label>Watch?</label> <%= f.check_box :watch %> <br>
    <label>Photo SKU</label> <%= text_field_tag :photo_sku %> <br>
    <label>Note 1</label> <%= f.text_field :note1 %> <br>
    <label>Note 2</label> <%= f.text_field :note2 %> <br>
    <label>Note 3</label> <%= f.text_field :note3 %> <br>
    <div class="button_bar" style="text-align: left;">
      <%= hidden_field_tag "stock_card[offer_ids][]", nil %>
      <% Offer.order(:name).each do |offer| %>
        <%= check_box_tag "stock_card[offer_ids][]", offer.id, @stock_card.offer_ids.include?(offer.id), id: dom_id(offer) %>
        <%= label_tag dom_id(offer), offer.name %><br>
      <% end %>
    </div>
    <div class="button_bar">
      <%= f.submit 'Update' %>
    </div>
  <% end %>
</div>