<div id="<%= stock_card.id %>" class="stock_card <%= stock_card.offers_as_string %>">
  <div class="sku"><%= stock_card.sku %></div>
  <div class="name"><%= stock_card.name %></div>
  <div class="photo"><%= image_tag stock_card.photo %></div>
  <div class="location">Location</div>
  <% unless stock_card.note1.nil? or stock_card.note1.empty? then %>
    <div class="note1"><%= stock_card.note1 %></div>
    <div class="note2"><%= stock_card.note2 %></div>
    <div class="note3"><%= stock_card.note3 %></div>
  <% end %>
  <div class="overlay hidden">
    <%= link_to "M", "#", :class => "overlay_button move" %>
    <%= link_to "E", edit_stock_card_path(stock_card.id), :class => "overlay_button edit", remote: true %>
		<%= link_to "D", stock_card_path(stock_card.id), confirm: "Are you sure?", method: :delete, :class => "overlay_button delete_stock_card" %>
    <% if defined? assignment_id %>
      <%= link_to "R", assignment_path(assignment_id), confirm: "Are you sure?", method: :delete, :class => "overlay_button delete" %>
    <% end %>
  </div>
</div>
