<%= form_for @stock_card, do |f| %>
  <div class="clear_frame">
  <div class="form clearfix">
    <h1>New Stock Card :</h1>
    <div class="left">
      <label>SKU</label><br><%= f.text_field :sku, :class => 'sku input_text' %><br>
      <label>Name</label><br><%= f.text_field :name, :class => 'input_text' %><br>
      <label>Note 1</label><br><%= f.text_field :note1 %><br>
      <label>Note 2</label><br><%= f.text_field :note2 %><br>
      <label>Note 3</label><br><%= f.text_field :note3 %><br>
    </div>
    <div class="left">
      <label>Photo</label><br><div class="photo_frame"><%= image_tag @stock_card.photo, :class => 'photo' %></div><br>
      <label>Photo SKU</label><br><%= text_field_tag :photo_sku %><br>
    </div>
    <div class="right">
      <div class="checkboxes">
        <%= hidden_field_tag "stock_card[offer_ids][]", nil %>
        <% Offer.order(:name).each do |offer| %>
          <div class="checkbox_frame">
          <%= check_box_tag "stock_card[offer_ids][]", offer.id, @stock_card.offer_ids.include?(offer.id), id: dom_id(offer) %>
          <%= label_tag dom_id(offer), offer.name %>
          </div>
        <% end %>
      </div>
      <%= f.submit 'Create', class: 'button' %>
    </div>
  </div>
  </div>
<% end %>