<!-- Modelario Show Template -->

<div class="modelario A3 <%= @modelario.color_theme.name.downcase%>" 
  data-assignment-update-url="<%= sort_move_assignments_url %>"  
  data-sections-update-url="<%= sort_move_modelario_sections_url @modelario %>">
  
  <div class="application_menu noprint">
    <%= link_to 'Open', modelarios_path %>
    <%= link_to 'Edit', edit_modelario_path(@modelario), remote: true %>
    <%= link_to 'Offers', '#', :class => "button", :id => 'offer_button' %>
    <%= link_to 'Add Section', new_modelario_section_path(@modelario, :root => true), remote: true %>
    <%= link_to 'New Stock Card', new_stock_card_path, remote: true %>
    <%= link_to 'Print', modelario_path(@modelario, format: 'pdf') %>
    <%= render :partial => 'offers/offers' %>
  </div>
  <div class="modelario_title">
    <%= @modelario.title %>
  </div>
  <ul class="root sections_sortable">
    <% unless @modelario.sections.empty? %>
        <%= render :partial => 'sections/section', :collection => @modelario.root_sections.rank(:row_order), :as => :section %>
    <% end %>
  </ul>
  <div class="legend">
    <div class="highlighted_items">
      Color Box represents product within offer
    </div>
    <div class="not_highlighted_items">
      White Box represents product outside offer
    </div>
  </div>
</div>


