<div class="form small">
  <h1>New Section</h1>
  <%= form_for [@modelario, @section], do |f| %>
    <label>Title</label>
		<%= f.text_field :title %> <br>
    
		<%= f.hidden_field :root, :value => params[:root] == 'true' ? '1' : '0' %>
    <% if params[:subsectionof] %>
      <%= hidden_field_tag :subsectionof, params[:subsectionof] %>
    <% end %>

		<label>Stock Cards</label>
		<%= f.text_field :sku_tokens %>
		
    <div class="button_bar">
      <%= f.submit 'Create' %>
    </div>
  <% end %>
</div>