<!DOCTYPE html>
<html>
<head>
  <title>ModelarioBuilder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="application_title noprint">
  <%= link_to 'Modelario Builder', root_path %>
</h1>

<%= yield %>

<div id="popup" class="hidden"></div>
<div class="footer"></div>
</body>
</html>
