<!DOCTYPE html>
<html>
<head>
  <title>ModelarioBuilder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="noprint"><%= link_to 'Modelario Builder', root_path %></h1>
  </header>
  <section class="content_window">
    <%= yield %>
  </section>
  <div id="popup" class="hidden"></div>
  <footer></footer>
</body>
</html>
